.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 5%;
    max-width: 1200px;
    margin: 60px auto;
}

.hero-content h1 {
    font-size: 52px;
    color: #012147;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 20px;
    color: #012147;
    margin-bottom: 20px;
    max-width: 400px;
}

.hero-logo img {
    width: 300px;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.3));
    border-radius: 20px;
}

@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .hero-logo {
        width: 220px;
        border-radius: 30px;
    }
}

.cta-btn {
    background-color: #e3c100;
    padding: 15px 30px;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: 0.3s;
}

.cta-btn:hover {
    transform: scale(1.05);
}

.serviços {
    padding: 60px 5%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.serviços h2 {
    font-size: 36px;
    color: #012147;
    margin-bottom: 40px;
}

.serviços-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.serviços-card {
    background: #ffffff;
    width: 31%;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.serviços-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.serviços-card img {
    width: 80px;
    margin-bottom: 15px;
}

.serviços-card h3 {
    font-size: 22px;
    color: #012147;
    margin-bottom: 10px;
}

.serviços-card p {
    font-size: 16px;
    color: #012147;
}

@media (max-width: 900px) {
    .serviços-card {
        width: 100%;
    }
}

.footer {
    background-color: #012147;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    margin-top: 60px;
}

.footer-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.footer h3{
    font-size: 22px;
    margin-bottom: 15px;
    color: #e3c100;
}

.footer p{
    font-size: 16px;
    line-height: 1.6;
}

.footer-bottom{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    opacity: 0.8;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 15px;
}

@media (max-width: 900px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
}